[user]
	name = Nick Reynolds
	email = nick.reynolds@discordapp.com
[core]
	editor = vim
[alias]
	st = "status -s -b"
	c = "commit"

	# --all
	# --verbose
	br = "branch -a -v"

	co = "checkout"
	cb = "checkout -b"

	# Short hash, relative date and message.
	logd = "log --pretty='%C(yellow)%h %C(cyan)%ar %Creset%s'"
